* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Arial", sans-serif;
}

body {
  background-color: black;
}

header {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

a {
  color: white;
  text-decoration: none;
}

a.disable {
  color: gray;
  cursor: not-allowed;
}

a[target="_blank"] {
  color: hsl(206, 100%, 40%);
  text-decoration: underline;
}

.file-p {
  margin-bottom: 0.5em;
}

main {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.list-box {
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
}

.list-box div {
  margin-top: 1em;
  font-size: 20px;
}

pre {
  max-height: 10em;
}

.code-container {
  width: 500px;
}

.enlighter-default {
  min-height: 5em;
  max-height: 35em;
  overflow: scroll;
}
