* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Arial", sans-serif;
}

#particles-js {
  height: calc(100vh - 5px);
  width: calc(100vw - 5px);
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

#counter-background {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100vw - 5px);
  height: calc(100vh - 5px);
  z-index: 0;
}

#counter-background h1 {
  opacity: 0;
  font-size: clamp(100px, 50vh, 80vh);
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  animation: reverse-slide-anim 0.5s ease;
  animation-fill-mode: forwards;
  letter-spacing: -0.1em;
}

#counter-background h1.hover {
  animation: slide-anim 0.5s ease;
  animation-fill-mode: forwards;
}

#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 5px);
  height: calc(100vh - 5px);
  background: black;
  z-index: 999;
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b6e0b072897469.5bf6e79950d23.gif");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  animation: hide-loading-screen 0.75s ease;
  animation-fill-mode: forwards;
}

#loading-screen.off-animate {
  animation-name: none;
}

body {
  background-color: black;
}

header {
  position: relative;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding-top: 1em;
  font-size: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
}

a {
  color: white;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

a.disable {
  opacity: 0.3;
  cursor: not-allowed;
}

a[target="_blank"] {
  color: hsl(206, 100%, 40%);
  text-decoration: underline;
}

.list-box:hover > div > a {
  opacity: 0.7;
}

.list-box:hover > div > a.disable {
  opacity: 0.2;
}

.list-box:hover > div:hover > a {
  opacity: 1;
}

.list-box:hover > div:hover > a.disable {
  opacity: 0.2;
}

.file-p {
  margin-bottom: 0.5em;
}

main#main-site {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, 0);
  z-index: 2;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
}

.list-box {
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* width: 300px; */
  margin-bottom: 20px;
  gap: 15px;
}

.list-box div {
  font-size: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
}

.list-box.disable,
.list-box.disable * {
  opacity: 0;
}

pre {
  max-height: 10em;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code-container {
  width: 75%;
  margin: auto;
}

.enlighter-default {
  min-height: 5em;
  max-height: 35em;
  overflow: scroll;
}

@keyframes slide-anim {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 0.1;
  }
}

@keyframes reverse-slide-anim {
  from {
    margin-top: 0;
    opacity: 0.1;
  }
  to {
    margin-top: 100px;
    opacity: 0;
  }
}

@keyframes hide-loading-screen {
  to {
    opacity: 0;
    /* z-index: -1; */
  }
}
