* {
  font-family: sans-serif;
  padding: 0;
}

td {
  border: 1px solid black;
  padding: 2px;
}

.main-table {
  border: 5px double black;
  width: 500px;
}

.main-table th {
  background-color: #a8d3ff;
  padding: 5px;
  text-transform: uppercase;
}

.section-table {
  width: 100%;
  background-color: #fff3e8;
}

.section-table th {
  background-color: #e5e5e5;
  color: #820051;
  text-align: center;
  border: 1px solid black;
  text-transform: none;
}

.section-table td {
  font-weight: bold;
}

.section-table td:nth-child(1) {
  width: 100px;
}

.section-table td:nth-child(2) {
  width: 80px;
}

.section-table td:nth-child(3) {
  width: 100px;
}

.col-names {
  text-align: center;
  text-transform: uppercase;
}
