* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Form CSS */

main {
  padding: 3rem;
}

form {
  padding: 2rem;
  border: 1px solid gray;
  width: 400px;
}

form legend {
  position: relative;
  background-color: #efefef;
  border: 5px solid #dfdfdf;
  padding: 0.5rem;
  top: -2.5rem;
  left: -2.5rem;
  display: inline;
  color: #9090b0;
  font-weight: bold;
}

form .submit-btn {
  position: relative;
  left: -2rem;
  bottom: -2rem;
  padding: 1px 10px;
}

form .input-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #009f9f;
  border: 1px solid #0002fd;
  gap: 1rem;
  padding: 0.3rem;
}

form .input-wrapper input {
  width: 60%;
  padding: 2px 3px;
}

/* Results CSS */

.result {
  width: 600px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result table {
  margin-top: 2rem;
  width: 100%;
}

.result table thead {
  background-color: #c4ffff;
}

.result table tbody tr:nth-child(odd) {
  background-color: #fff0ff;
}

.result table tbody tr:nth-child(even) {
  background-color: #f0fff0;
}

.result table td,
.result table th {
  padding: 1px 4px;
}
