* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 40%;
}

form div {
  margin-top: 0.5rem;
}

form :is(input, textarea, select) {
  width: 50%;
}

form span.error {
  color: red;
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-width: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}
